<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PABLO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PABLO.Properties.Settings>
            <setting name="com_gps" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="com_odometre" serializeAs="String">
                <value>COM12</value>
            </setting>
            <setting name="com_sabertooth" serializeAs="String">
                <value>COM11</value>
            </setting>
            <setting name="com_compas" serializeAs="String">
                <value>COM14</value>
            </setting>
            <setting name="com_bluetooth" serializeAs="String">
                <value>COM98</value>
            </setting>
            <setting name="com_dio" serializeAs="String">
                <value>COM99</value>
            </setting>
            <setting name="nav_vitesse" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="plot_speed" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="run_speed" serializeAs="String">
                <value>800</value>
            </setting>
        </PABLO.Properties.Settings>
    </userSettings>
</configuration>